<tr>
  <td><%= badge.title %></td>
  <td><%= t("badges.rules.#{badge.rule_subject}") %></td>
  <td><%= badge.rule_objective %></td>
  <td>
    <%= link_to 'Edit', edit_admin_badge_path(badge) %>
  </td>
  <td>
    <%= link_to 'Delete',
        admin_badge_path(badge),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
  </td>
</tr>