<%= form_with model: [:admin, @badge], local: true do |form| %>

<%= render 'shared/errors', resource: @badge %>

<p>
  <%= form.label :title %><br>
  <%= form.text_field :title, id: :title %>
</p>

<p>
  <%= form.label :image_url %><br>
  <%= form.text_field :image_url, id: :image %>
</p>

<p>
  <%= form.label :badge_rule_subject %>
  <%= form.select :rule_subject, BadgeService.rule_subjects.map { |rule_subject| [ApplicationController.helpers.localize_rule_subject(rule_subject[0]), rule_subject[1]] } %>
</p>

<p>
  <%= form.label :badge_rule_objective %><br>
  <%= form.text_field :rule_objective, id: :rule_objective %>
</p>

<p><%= form.submit %></p>
<% end %>