<div class="col justify-content-center mt-3">
  <h1><%= t('tests.index.header') %></h1>

  <div class="card border-primary">
    <div class="card-body">
      <table class="table">
        <tr>
          <th class="sort-by-title pointer thead-light">
            <%= t('tests.index.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('tests.index.level') %></th>
          <th><%= t('tests.index.questions') %></th>
          <th><%= t('tests.index.actions') %></th>
        </tr>
        <%= render @tests %>
      </table>
    </div>
  </div>
</div>